/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/csv_reader/nbproject/private/
/csv_reader/build/
/PPL_Q1/nbproject/private/
/Boy/nbproject/private/
/girl/nbproject/private/
/PPL_Q1/build/
/PPL_Q2.java/nbproject/private/
/PPL_Q2.java/build/
/PPL_Q1/dist/
/PPL_Q2.java/dist/
/PPL _Q3/nbproject/private/
/PPL _Q3/build/
/PPLQ4/nbproject/private/
/PPLQ4/build/
/PPLQ5/nbproject/private/
/PPLQ5/build/
/PPLQ6/nbproject/private/
/PPLQ6/build/
/PPLQ7/nbproject/private/
/PPLQ7/build/
/PPLQ8/nbproject/private/
/giftgenerator/nbproject/private/
/PPLQ8/build/
/ff/nbproject/private/
/PPL _Q3/dist/
/PPLQ4/dist/
/PPLQ5/dist/
/PPLQ6/dist/
/PPLQ7/dist/
/PPLQ8/dist/