/JavaApplication2/nbproject/private/
/JavaApplication3/nbproject/private/
/JavaApplication3/build/
/csv_reader/nbproject/private/
/csv_reader/build/
/PPL_Q1/nbproject/private/
/Boy/nbproject/private/
/girl/nbproject/private/
/PPL_Q1/build/
/PPL_Q2.java/nbproject/private/
/PPL_Q2.java/build/
/PPL_Q1/dist/
/PPL_Q2.java/dist/